{% extends 'base.html.twig' %}

{% block title %}AboutUs{% endblock %}

{% block body %}
  {#<style>
    .example-wrapper {
      margin: 1em auto;
      max-width: 800px;
      width: 95%;
      font: 18px/1.5 sans-serif;
    }
    .example-wrapper code {
      background: #F5F5F5;
      padding: 2px 6px;
    }
  </style>#}

  <div class="container m-5 text-center">
    <h1>About us</h1>
    <div>
      <div class="p-5">
        {% for aboutUs in allOfUs %}

          <div class="card m-5" style="width: 80%;">
            <h3 class="card-title m-4">{{ aboutUs.title }}</h3>
            <img src="{{ aboutUs.poster }}" class="card-img-top" alt="poster of {{ aboutUs.title }}">
            <div class="card-body">
              <p class="card-text">{{ aboutUs.description|raw }}</p>
              {#<a href="#" class="btn btn-primary float-end">Go somewhere</a>#}
            </div>
          </div>

          {#<h3 class="mt-0">
          {{ aboutUs.title }}</h3>
        <div class="text-center"><img class="img-fluid" height="600" src="{{ aboutUs.poster }}" alt="poster of {{ aboutUs.title }} "></div>

        <p>Description :
          {{ aboutUs.description|raw }}</p>
        {# 
      <p>Created on:
        {{ company.createdAt }}</p>
      <p>Updated on:
        {{ company.updatedAt }}</p>
     #}
          {#
        <p>slug :
             {{ aboutUs.slug }}</p>
      </div>#}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
