<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #35526e">
  <div class="container-fluid text-black">

    <a class="navbar-brand" id="logo" href="/"><img src="{{ asset('build/images/logoNON.png') }}" alt="ACM logo"></a>
    {# <a class="navbar-brand" href="#">StudLoc</a> #}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item text-white">
          <a class="nav-link active text-white" aria-current="page" href="{{ path('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="{{ path('about_us') }}">About us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            AllStudios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{{ path('categories_show') }}">AllStudios</a>
            <li><hr class="dropdown-divider"></li>
          </li>
          <li>
            <a class="dropdown-item" href="{{ path('category_show', {'id': '1'}) }}">Recording</a>
          </li>
          <li>
            <a class="dropdown-item" href="{{ path('category_show', {'id': '2'}) }}">Mixing</a>
          </li>
          <li>
            <a class="dropdown-item" href="{{ path('category_show', {'id': '3'}) }}">Mastering</a>
          <li><hr class="dropdown-divider"></li>
        </li>
        <li>
          <a class="dropdown-item" href="{{ path('category_show', {'id': '4'}) }}">Video set</a>
        </li>

        <li><hr class="dropdown-divider"></li>
        <li>
          <a class="dropdown-item" href="#">Terms and conditions of use
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">The rates</a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="{{ path('contact') }}">Contact us</a>
    </li>
  </ul>
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success text-white" type="submit">Search</button>
  </form>

  <div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        {% if app.user %}
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ app.user.email }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if is_granted('ROLE_ADMIN') %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('admin') }}">adminSpace</a>
              </li>
            {% else %}
              <li>
                <a class="dropdown-item" href="{{ path('cart_index') }} ">My cart</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">My account</a>
              </li>
            {% endif %}
            {#<li>
                  <a class="dropdown-item" href="#">Mastering</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Another action</a>
                </li>#}
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="{{ path('app_logout') }}">Disconnect</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link text-white" href="{{ path('app_login') }}">
                Connexion</a>
            </li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </div>

  {#<ul>
        <lo class="nav-item">
          {% if app.user %}
            <a>{{ app.user.email }}</a>
            <a href="{{ path('app_logout') }}">To disconnect
            </a>

          {% else %}
            <a href="{{ path('app_login') }}">
              Connexion</a>
          {% endif %}
        </lo>
      </ul>#}

</div>
</div>
</nav>